[Unit]
Description=Pulse Oximeter Serial Reader
After=network.target dev-ttyUSB0.device
Wants=dev-ttyUSB0.device

[Service]
ExecStart=/usr/bin/php /home/sam/poxs.php
WorkingDirectory=/home/sam
User=sam
Group=sam
Restart=always
RestartSec=2
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
